form {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
}

form div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    
}

input[type="number"] {
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

