<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
    <link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>
    <form action="/submit" method="post">
        <div>
          <label for="math">Math:</label>
          <input type="number" id="math" name="math">
        </div>
        <div>
          <label for="science">Science:</label>
          <input type="number" id="science" name="science">
        </div>
        <div>
          <label for="computer-science">Computer Science:</label>
          <input type="number" id="computer-science" name="computer-science">
        </div>
        <div>
          <label for="data-science">Data Science:</label>
          <input type="number" id="data-science" name="data-science">
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>      
</body>
</html>